language: android

android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-27.0.3
    - android-27

notifications:
  - email: false

before_install:
  - yes | sdkmanager "platforms;android-28"

script:
  - ./gradlew build test
